
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
body {
    --spanish-violet: #4F2667ff;
    --maximum-blue: #5DB1CBff;
    --ming: #177077ff;
    --shimmering-blush: #E3889Aff;
    --tyrian-purple: #5F0B3Dff;
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: Ubuntu Condensed, sans-serif;
    background-color: rgb(53, 53, 53);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #177077ff;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

#logout {
    position: fixed;
    right: 20px;
    top: 90px;
}

.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 30px 10px;
    background-color: #177077ff;
    padding: 20px;
    border-radius: 5px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

/* Workshop Page CSS */

#workshop-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

#workshop-main section{
    background-color: #5DB1CBff;
    height: 100%;
    width: 95%;
    margin: 10px;
    border-radius: 5px;
}

#left-side{
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
}

#left-side div{
    margin: 10px;
}

#left-side h1{
    font-size: 40px;
    font-weight: bolder;
}

#workshop-display{
    overflow: scroll;
    padding: 50px;
    height: 750px;
}

.workshop{
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 5px;
    background-color:#4F2667ff;
    width: 100%;
}

.workshop h2{
    margin: 5px auto;
    color:rgb(44, 152, 160);
    font-size: 35px;
}

.workshop img{
    height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.member{
    text-decoration: none;
    font-size: 20px;
    color:#E3889Aff;
    margin: 10px;
    border-radius: 10px;
}

.member:hover{
    cursor: grab;
    background-color: #177077ff;
}

/* add and edit pages */

#new-member{
    background-color: #177077ff;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

#new-member form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    width: 100%;
}

#new-member form input{
    margin: 10px;
    border-radius: 5px;
    height: 25px;
}

#new-member form select{
    margin: 10px;
    border-radius: 5px;
    height: 25px;
}

#new-member form button{
    margin: 10px;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    background-color:#4F2667ff;
    color: white
}

